{{ partial "header.html" . }}
    <div class="content-wrapper">
      {{ if not .IsHome }}<h1>{{ .Title | markdownify }}</h1>{{ end }}
<main>
{{ if .IsHome -}}
<div class="home-wrapper">
{{ .Content -}}
</div>
{{ else -}}
{{ .Content -}}
{{ end -}}
</main>
      {{ if .IsHome }}

        {{ range $name, $items := .Site.Taxonomies.categories }}
            {{ if in site.Params.front_categories $name }}
                <h2><a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</h2>
                <ul>
                {{ range first 5 $items.Pages.ByLastmod.Reverse }}
                    <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                {{ end }}
                </ul>
            {{ end }}
        {{ end }}
        
      {{ else }} 
      <ul>
        {{ $pages := .Pages.ByTitle }}
        {{ range (where $pages "Section" "!=" "") -}}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </li>
        {{ end -}}
      </ul>
      {{ end }}
    </div>

{{ partial "footer.html" . -}}
